.navBox {
  padding : 68px 0 32px 32px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  > p {
    font-Size: 24px;
    line-height: 32px;
    margin-left : 26px;
  }
}

.contentWrapper {
  padding: 32px ;
}

.titleBox {
  display: flex;
  align-items: center;
  height: 36px;

  > p:first-child {
    margin-right: 16px;
  }
}

.title-sm {
  font-size: 14px;
  line-height: 24px;
}

.caption {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4);
}

.swiper-button-next {
  background: url(../icons/chevron-right.svg) no-repeat;
  background-position: center;
  display: inline !important;
}

.swiper-button-prev {
  background: url(../icons/chevron-left.svg) no-repeat;
  background-position: center;
  display: inline !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-wrapper {
  margin-left : 52px;
  list-style: none;
  padding: 0;
}

.swiper-slide {
  display: inline !important;
  width: 230px !important;
  margin-right: 16px !important;
}

.swiper-button-lock {
  display: block !important;
}

svg.bookmark {
  cursor: pointer;
  margin : 8px 0 18px 40px;
  width: 40px; 
  height : 40px 
}

.bookTitle {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 4px;
  margin-left: 50px;
}
.bookDesc {
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 50px;
}